
		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<h1><span class="icon icon-shield"></span></h1>
	  		 		<p>Create your own event or</p>
                                        <p>Participate in any event</p>
	  		</header>	    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
                    <h1 class="centered">The tree Concepts</h1>
                    <hr>
			<div class="row">
                            
				
				<div class="col-lg-4 callout">
					<span class="icon icon-stack"></span>
					<h2>Create your private Event</h2>
					<p>You are a group you want to make a surprise for a friend but you are far away from you and you dont know how you can to do it then with mamamiyaevent you can create your event (Birthday, Wedding ...) easily </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-4 callout">
					<span class="icon icon-eye"></span>
					<h2>Make new friend</h2>
					<p>This weekend all your friends are away you will go out you  d'ont know where and with who or with mamamiyaevent you can participate in one of our events create bye one of our member or you can create your own event and invite new friends</p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-4 callout">
					<span class="icon icon-heart"></span>
					<h2>Patner Event </h2>
					<p>You are a bar, restaurant... you are organizing a lot of events you want to invite more member Become our partner and publish your event on our website and augment the number of your customers   </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">A LITTLE ABOUT OUR GROUP</h1>
				<hr>
				
				<div class="col-lg-6">
					<p>Descrption group.</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>Description group.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->